<h2>Add Question</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="question" placeholder="Enter question" required><br><br>

    <input type="text" name="opt1" placeholder="Option 1"><br>
    <input type="text" name="opt2" placeholder="Option 2"><br>
    <input type="text" name="opt3" placeholder="Option 3"><br>
    <input type="text" name="opt4" placeholder="Option 4"><br><br>

    <label>Correct Option:</label>
    <select name="correct">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
    </select><br><br>

    <button type="submit">Add Question</button>
    <h2>Add Question</h2>

<p><strong>Course:</strong> {{ course.title }}</p>
<p><strong>Batch:</strong> {{ batch.title }}</p>

{% if batch.is_final %}
    <p style="color:red;">Final Quiz</p>
{% else %}
    <p style="color:green;">Regular Quiz</p>
{% endif %}

<p>Total Questions: {{ count }}</p>
<hr>

</form>
<h3>Create New Batch</h3>

<form method="POST">
    {% csrf_token %}

    <button name="new_batch" value="1">Create New Quiz Batch</button>

    <br><br>

    {% if request.user.profile.role == 'company' %}
        <label>
            <input type="checkbox" name="is_final">
            Mark as Final Quiz
        </label>
    {% endif %}

</form>
<hr>

<h3>Existing Questions</h3>

{% for q in batch.questions.all %}
<div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
    <strong>{{ forloop.counter }}. {{ q.question_text }}</strong><br>

    1. {{ q.option1 }}<br>
    2. {{ q.option2 }}<br>
    3. {{ q.option3 }}<br>
    4. {{ q.option4 }}<br>

    <strong>Correct:</strong> {{ q.correct_option }}
</div>
{% empty %}
<p>No questions yet</p>
{% endfor %}