<h3>Your Courses</h3>

{% for course in request.user.company_courses.all %}
    <div style="margin-bottom: 10px;">
        <strong>{{ course.title }}</strong><br>

        {% if course.trainer %}
            <span>Trainer: {{ course.trainer.username }}</span><br>
        {% else %}
            <span style="color: red;">No trainer assigned</span><br>
        {% endif %}

        <a href="{% url 'assign_trainer' course.id %}">
            Assign Trainer
        </a>
    </div>
{% empty %}
    <p>No courses</p>
{% endfor %}