<h2>Student Dashboard</h2>

<!-- 🔹 Internship -->
<a href="{% url 'view_internships' %}">View Internships</a><br><br>

<h3>My Applications</h3>

{% for app in request.user.application_set.all %}
<p>
    {{ app.internship.title }} - 
    <b>{{ app.status|title }}</b>
</p>
{% empty %}
<p>No applications yet</p>
{% endfor %}

<hr>

<!-- 🔹 Courses -->
<h3>My Courses</h3>

<a href="{% url 'view_courses' %}">View Courses</a><br>
<a href="{% url 'student_courses' %}">My Enrolled Courses</a>

<hr>

<!-- 🔹 Quiz Section -->
<h3>My Quizzes</h3>

{% for course in courses %}
    <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
        <strong>{{ course.title }}</strong><br>

        <a href="{% url 'course_quizzes' course.id %}">
            View Quizzes
        </a>
    </div>
{% empty %}
    <p>No enrolled courses</p>
{% endfor %}
<h3>Quiz History</h3>

{% for result in results %}
    <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
        <strong>{{ result.batch.course.title }}</strong><br>
        {{ result.batch.title }}<br>
        Score: {{ result.score }}/{{ result.total }}
    </div>
{% empty %}
    <p>No quiz attempts yet</p>
{% endfor %}

<h3>Internship Certificates</h3>

{% for cert in internship_certs %}

<div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
    
    <strong>{{ cert.internship.title }}</strong><br><br>

    <b>Company:</b> 
    {{ cert.internship.company.profile.company_name|default:cert.internship.company.username }}<br>

    <b>Email:</b> 
    {{ cert.internship.company.profile.email|default:cert.internship.company.email }}<br>

    {% if cert.internship.company.profile.location %}
        <b>Location:</b> {{ cert.internship.company.profile.location }}<br>
    {% endif %}

    {% if cert.internship.company.profile.phone %}
        <b>Phone:</b> {{ cert.internship.company.profile.phone }}<br>
    {% endif %}

    <br>

    <a href="{% url 'download_certificate' cert.id %}">
        Download Certificate
    </a>

</div>

{% empty %}
<p>No internship certificates yet</p>
{% endfor %}
<hr>
<br><a href="{% url 'logout' %}">Logout</a>