<h2>Available Internships</h2>

{% for i in internships %}
    <h3>{{ i.title }}</h3>
    <p>{{ i.description }}</p>
    <p>Location: {{ i.location }}</p>

    <!-- Company Details -->
    <p><b>Company:</b> {{ i.company.profile.company_name }}</p>
    <p><b>Email:</b> {{ i.company.profile.email }}</p>

    {% if i.id in applied_ids %}
        <p style="color: green;"><b>Applied</b></p>
    {% else %}
        <form method="POST" action="{% url 'apply_internship' i.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            Upload Resume: <input type="file" name="resume" required><br><br>
            <button type="submit">Apply</button>
        </form>
    {% endif %}

    <hr>
{% endfor %}